<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a ui-sref="main" class="navbar-brand"><span class="bigger-nav-font">G</span>ATHER<span class="bigger-nav-font">U</span>P</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="collapse-nav">
            <ul class="nav navbar-nav">
                <li>
                    <a href="https://github.com/Saaka/gatherup"><span class="bigger-nav-font">G</span>ITHUB <span class="bigger-nav-font">P</span>AGE</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="register"><strong><span class="bigger-nav-font">R</span>EGISTER</strong></a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="login"><span class="bigger-nav-font">L</span>OGIN</a>
                </li>
            </ul>
        </div>
    </div>
</div>